.item-md{
    border-bottom: 1px solid #dedede;
}
.list-md .item-block .item-inner{
    border-bottom: none;
}
ion-badge p{
    color:#fff !important;
}

.list-ios .item-block .item-inner {
    border-bottom: 0px;
}
.list-ios > .item-block{
    border-bottom: 0.55px solid #c8c7cc;
}
